{% extends "base.html" %}
{% load static %}

{% block conteudo %}
        <div class="container">
            <h2>Elabore Ordens de Serviços</h2>
        </div>

        <div class="container">
            <div class="div_botoes">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "pg_criar_ordemservico" %}">
                            <button>Ordem de Serviço</button>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url "pg_criar_cliente" %}">
                            <button>Cliente</button>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url "pg_criar_empresa" %}">
                            <button>Empresa</button>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url "pg_criar_servico" %}">
                            <button>Serviço</button>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url "pg_criar_produto" %}">
                            <button>Produto</button>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url "pg_criar_categoria" %}">
                            <button>Categoria</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        {% for os in ordemservicos %}
            <div class="card">
                <div class="rotulo-card">
                    <span>{{ os.cliente.nome }}</span>
                    <span>{{ os.data_servico }}</span>
                </div>
                
                <ul>
                    {% for servico in os.servico.all %}
                        <li>{{ servico.tipo_servico }} - R$ {{ servico.valor_servico }} - {{ servico.empresa }}</li>
                    {% endfor %}
                </ul>
                
                <span class="valor-total">R$ {{ os.valor_total }}</span>
                <a class="valor-total" href="{% url "pg_excluir_ordemservico" os.id %}">
                    <span>Excluir OS</span>
                </a>
            </div>
        {% endfor %}
{% endblock %}